:host {
  display: block;
  background: white;
  padding: 15px;
  border-radius: 4px;
  position: relative;
  margin-top: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
