<div class="container">
  <form #signupForm="ngForm" (submit)="signIn(signupForm)" *ngIf="!(isLoggedIn$ | async)">
    <h2 class="title">Login</h2>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="Email input" name="email" [(ngModel)]="user.email" required>
      </div>
      <!--<p class="help is-danger">This email is invalid</p>-->
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="Password" name="passwordß" [(ngModel)]="user.password" required>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Sign in</button>
      </div>
      <div class="control">
        <button class="button is-text" type="button" (click)="showSignupForm()">Dont have a user? Sign up</button>
      </div>
    </div>
  </form>
  <button class="button is-link" *ngIf="isLoggedIn$ | async" (click)="logout()">Logout</button>
</div>
<div class="close" (click)="hideForm()">X</div>
