h1 {
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
  text-align: center;
}

.answer {
  font-size: 100px;

  &--success {
    color: lawngreen;
  }

  &--danger {
    color: red;
  }
}
