<h1 class="answer answer--success" *ngIf="(thereIsCake | async) === true">JA!!!</h1>
<h1 class="answer answer--danger" *ngIf="(thereIsCake | async) === false">Nej :-(</h1>

<audio src="/assets/sounds/yay.mp3" preload="auto" volume="0.1" #yay></audio>
<audio src="/assets/sounds/noo.mp3" preload="auto" volume="0.1" #noo></audio>
