<main>
  <div class="wrapper">
    <h1>Er der kage idag?</h1>
    <app-cake-status></app-cake-status>
    <app-cake-toggle *ngIf="isLoggedIn$ | async"></app-cake-toggle>

    <ng-container *ngIf="(showForm$ | async) === 'login'">
      <app-login></app-login>
    </ng-container>

    <ng-container *ngIf="(showForm$ | async) === 'signup'">
      <app-signup></app-signup>
    </ng-container>
  </div>
</main>

<div class="secret" (click)="showLogin()"></div>


