<div class="container">
  <button class="button is-success" (click)="changeCakeStatus(true)">
    Der er kage idag
  </button>
  <button class="button is-danger" (click)="changeCakeStatus(false)">
    Der er ikke kage idag
  </button>
</div>
