/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Chicle');

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// Use the new serif family
$family-primary: $family-serif;

// 6. Import the rest of Bulma
@import "~bulma/bulma";

body {
  background: #f7d6ff;
  font-family: 'Chicle', cursive;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
